<h1>Edit this task</h1>

<div>
  <%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :details, "Details" %>
    <%= f.text_field :details %>
  <div class="form-group">
    <%= f.label :completed, "Completed?" %>
    <%= f.check_box :completed %>
  </div>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to "Back to task", task_path(@task) %>
